PORT=3000
MONGO_URI=mongodb://localhost:27017/groove
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000
COOKIE_KEY=your_secret_key
GOOGLE_CLIENT_ID=your_google_client_id
ADMIN_SECRET=your_admin_secret
